html {
    font-size: 18px;
    line-height: 1.4;
}
body {
    font-family: Helvetica;
}

/*THIS IS THE BANNER SECTION*/
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 31rem;
    width: 100%;
    background-image: url(../images/glasses-bg.png);
    background-size: cover;
    background-position: center;
    border: 3px solid black;
}
/*THIS IS THE BANNER HEADER*/
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    width: 960px;
    background-color: cadetblue;
    margin-top: 1rem;
    border: 3px dotted black;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2rem;
    width: auto;
    margin-left: 2rem;
    border: 3px solid blue;
}
.logo img {
    height: 1.5rem;
    padding-right: 1rem;
}
.logo span {
    color: white;
}
nav {
    display: flex;
    flex-direction: row;
    height: 2rem;
    width: auto;
    align-items: center;
    margin-right: 2rem;
    border: 3px solid blue;
}
nav span {
    color: white;
    padding-right: 2rem;
}
.mobilenav {
    display: none;
}
/*THIS IS THE BANNER SPLASH*/
.splash {
    display: flex;
    justify-content: flex-end;
    width: 1032px;
    height: 6rem;
    border: 3px dotted black;
    margin-top: 10rem;
}
.heading {
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
    background-color: white;
    border: 3px solid blue;
}
.heading h1 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
    padding: 1.75rem 5rem;
}

/*THIS IS THE FEATURES SECTION*/
.features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 14rem;
    width: 100%;
    border: 3px solid red; 
}
.feature-set {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 960px;
    border: 3px dotted black;
}
.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 3rem;
    margin-left: 3rem;
    height: 8rem;
    width: 5rem;
    border: 3px solid blue;
}
.icon span {
    text-align: center;
}
#paper {
    width: 3.5rem;
    margin-top: 0;
}
#ruler, #truck {
    width: 5rem;
    margin-top: 1rem;
}

/*THIS IS THE INFO SECTION*/
.info {
    display: flex;
    justify-content: center;
    height: 15rem;
    width: 100%;
    border: 3px solid yellow;
}
.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 960px;
    border: 3px dotted black;
}
.content-box {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 35%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    border: 3px solid blue;
}
h3 {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding: 0.5rem 1.25rem;
}
.philosophy, .appointments {
    height: 2rem;
    width: 11.5rem;
    margin-bottom: 1rem;
    background-color: cadetblue;
}

/*THIS IS THE FOOTER SECTION*/
.footer {
    display: flex;
    justify-content: center;
    height: 10rem;
    width: 100%;
    border: 3px solid black;
}
.footerbox {
    display: flex;
    align-items: center;
    height: 100%;
    width: 1032px;
    background-color: azure;
    border: 3px dotted black;
}
.biz-echo {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 3px solid blue;
}
.biz-echo img {
    height: 1.5rem;
    margin-left: 4rem;
    margin-right: 1rem;
}

/*THIS IS THE 1024PX MEDIA QUERY*/
@media only screen and (max-width: 1024px) {
    .banner {
        height: 22rem;
    }
    .header {
        width: 100%;
        margin-top: 0;
    }
    .splash {
        height: 5rem;
        margin-top: 5rem;
    }
    .heading {
        margin-right: 4rem;
    }
    .heading h1 {
        font-size: 1.33rem;
    }
}

/*THIS IS THE 740PX MEDIA QUERY*/
@media only screen and (max-width: 740px) {
    .banner {
        height: 17rem;
        background-position: 20%;
    }
    .logo span {
        display: none;
    }
    .logo img {
        height: 1.25rem;
    }
    nav span {
        display: none;
    }
    .mobilenav {
        display: block;
        padding-right: 0;
    }
    .splash {
        height: 3rem;
        margin-top: 9rem;
    }
    .heading {
        width: 100%;
        justify-content: center;
    }
    .heading h1 {
        font-size: 1rem;
        margin-left: 4rem;
    }
    .icon {
        height: 7rem;
        margin-right: 2rem;
        margin-left: 2rem;
    }
    .icon span {
        font-size: 0.9rem;
    }
    .content-box {
        width: 40%;
    }
    h3 {
        font-size: 0.9rem;
    }
    .content-box span {
        font-size: 0.9rem;
    }
    .biz-echo img {
        height: 1.25rem;
    }
}

/*THIS IS THE 580PX MEDIA QUERY*/
@media only screen and (max-width: 580px) {
    .features {
        height: 31rem;
    }
    .feature-set {
        flex-direction: column;
        height: auto;
    }
    .icon {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }
    #paper {
        margin-top: 0.25rem;
    }
    #ruler {
        margin-top: 1.9rem;
    }
    #truck {
        margin-top: 1.5rem;
    }
}


